body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
}

h1 {
  margin: 20px;
}

#roomLink {
  width: 60%;
  padding: 8px;
  border-radius: 6px;
  border: none;
  text-align: center;
}

button {
  padding: 8px 16px;
  margin-left: 5px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 20px;
}

video {
  width: 100%;
  border-radius: 10px;
}
